<!--# block name="navigation_stub" -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/account/{{i18n.language}}">SCS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{i18n "language" context=i18n.language}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/account/en">{{i18n "language_en"}}</a>
            <a class="dropdown-item" href="/account/pl">{{i18n "language_pl"}}</a>
          </div>
        </li>
        {{> menu scs='account'}}
      </ul>
    </div>
  </nav>
<!--# endblock -->
<!--# include virtual="/home/{{i18n.language}}/partials/navigation?scs=account" stub="navigation_stub" -->
